<div class="container" id="login-screen">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3><%= t ".log_in" %></h3>
      </div>
      <div class="card-body">
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <%= f.email_field :email, class: "form-control",
              placeholder: t(".username") %>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
              <%= f.password_field :password, class: "form-control",
                placeholder: t(".password") %>
          </div>
          <div class="row align-items-center remember">
            <%= f.label t "remember_me", class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span><%= t ".remember_me_content" %></span>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.submit t(".log_in"), class: "btn float-right my-login-btn" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <%= link_to  t(".fogot_password"),"#" %>
        </div>
      </div>
    </div>
  </div>
</div>
