<div id="runway_able">
  <div class="row">
    <h5 id="notification_duplicate"><%= t ".runway" %><span id="runway_notification1"></span><%= t ".dulicate" %></h5>
    <h5 id="notification_noexist"><%= t ".runway" %><span id="runway_notification"></span><%= t ".no_exist" %></h5>
  </div>
  <div class="row">
      <h3> <i class="fa fa-road" aria-hidden="true"></i><%= t ".id_runway" %></h3>
  </div>
  <div id="content-table-detail">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th><%= t ".name" %></th>
            <th><%= t ".id" %></th>
          </tr>
        </thead>
          <tbody id="table-detail">
          </tbody>
      </table>
    </div>
  </div>
</div>
