<% if current_user %>
  <span id="show-sidebar" class="btn btn-sm btn-dark my-hover show-sidebar">
    <i class="fas fa-bars"></i>
  </span>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <%= link_to root_path locale do %>
          <%= current_user.type_account %>
        <% end %>
        <div id="close-sidebar" class="my-hover">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <%= image_tag Settings.link.layouts.sidebar.avatar, alt: Settings.link.layouts.sidebar.alt_avatar %>
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>
              <%= current_user.name %>
            </strong>
          </span>
          <span class="user-role">
            <%= t ".role" %>
          </span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>
              <%= t ".online" %>
            </span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>
              <%= t ".actions" %>
            </span>
          </li>
          <% if current_user.admin? || current_user.air_traffic_officer? %>
            <li>
              <%= link_to root_path locale do %>
                <i class="fa fa-plane"></i>
                <span>
                  <%= t ".management_plane" %>
                </span>
              <% end %>
            </li>
          <% end %>
            <li>
              <%= link_to schedules_path locale do %>
                <i class="fa fa-calendar"></i>
                <span>
                  <%= t ".schedules" %>
                </span>
              <% end %>
            </li>
            <% if current_user.pilot? %>
            <li>
              <%= link_to new_request_path locale do %>
                <i class="fa fa-plus"></i>
                <span>
                  <%= t ".create_request" %>
                </span>
              <% end %>
            </li>
            <% end %>
            <li>
              <%= link_to requests_path locale do %>
                <i class="fa fa-eye"></i>
                <span>
                  <%= t ".view_request" %>
                </span>
              <% end %>
            </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </nav>
<% else %>
  <span id="show-sidebar-fake" class="btn btn-sm btn-dark my-hover">
    <%= link_to login_path locale do %>
      <i class="fas fa-bars"></i>
    <% end %>
  </span>
<% end %>
