<% if current_user %>
  <span id="show-sidebar" class="btn btn-sm btn-dark my-hover show-sidebar">
    <i class="fas fa-bars"></i>
  </span>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <%= link_to root_path locale do %>
          <%= t ".name" %>
        <% end %>
        <div id="close-sidebar" class="my-hover">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <%= image_tag Settings.link.layouts.sidebar.avatar, alt: Settings.link.layouts.sidebar.alt_avatar %>
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>
              <%= current_user.name %>
            </strong>
          </span>
          <span class="user-role">
            <%= t ".role" %>
          </span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>
              <%= t ".online" %>
            </span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>
              <%= t ".actions" %>
            </span>
          </li>
          <li>
            <%= link_to root_path locale do %>
              <i class="fa fa-plane"></i>
              <span>
                <%= t ".management_plane" %>
              </span>
            <% end %>
          </li>
          <li>
            <%= link_to schedules_path locale do %>
              <i class="fa fa-calendar"></i>
              <span>
                <%= t ".schedules" %>
              </span>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <%= link_to root_path locale do %>
        <i class="fa fa-bell"></i>
      <% end %>
      <%= link_to root_path locale do %>
        <i class="fa fa-envelope"></i>
      <% end %>
      <% if logged_in? %>
        <%= link_to user_path locale, current_user do %>
          <i class="fa fa-user"></i>
        <% end %>
        <%= link_to logout_path(locale), method: :delete do %>
          <i class="fa fa-power-off"></i>
        <% end %>
      <% else %>
        <%= link_to root_path locale do %>
          <i class="fa fa-cog"></i>
        <% end %>
      <% end %>
    </div>
  </nav>
<% else %>
  <span id="show-sidebar-fake" class="btn btn-sm btn-dark my-hover">
    <%= link_to login_path locale do %>
      <i class="fas fa-bars"></i>
    <% end %>
  </span>
<% end %>
